body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    color: #1e6975;
    font-size: 28px;
    font-weight: 100;
    line-height: 29px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #1e6975;
    font-size: 18px;
    font-weight: 100;
    line-height: 29px;
}

li:first-letter {
    text-transform: capitalize;
}

.weather-app-wrapper {
    max-width: 600px;
    margin: 0 auto;
}

.weather-app {
    margin-top: 30px;
    padding: 20px 30px 20px 30px;
    border: 3px solid #1e6975;
    border-radius: 10px;
}

.overview {
    margin-bottom: 25px;
}

.weather-temperature img {
    margin-right: 15px;
    height: 64px;
    width: 64px;
}

.weather-temperature strong {
    color: #1e6975;
    font-size: 64px;
    line-height: 64px;
    font-weight: 400;
}

.weather-temperature .units {
    position: relative;
    font-size: 18px;
    top: -32px
}

.weather-temperature .active {
    color: #1e6975;
    text-decoration: none;
}

.weather-temperature .alternative {
    color: #1e6975;
    text-decoration: none;
}

.weather-forecast {
    margin-top: 25px;
    text-align: right;
}

.weather-forecast-date {
    font-size: 14px;
    color: #1e6975;
    text-align: center;
    left: right;
}

.weather-forecast-temperature {
    text-align: right;
    color: #1a5862;
}
